body {
	margin-bottom: 80px;
/*	background-image: url(../img/redwood.jpg);*/
}

html {
	min-height: 100%;
	position: relative;
}

#current {
	font-weight: bold;
	font-size: 22px;
	font-family: 'Kaushan Script', cursive;
}

h2 {
	font-family: 'Kaushan Script', cursive;
}

#navbar-label {
	color: #9d9d9d;
	font-size: 14px;
}

#headshot {
	height: 180px;
	width: 180px;
	border-radius: 150px;
	position: relative;
	top: 25px;
	margin-right: 25px;
	float: left;
}

strong {
	color: #337ab7;
}

./*jumbotron h1, p {
	position: relative;
	top: 25px;
	right: 50px;
	float: right;
*/
}


.bodyLinks {
	text text-decoration: none;
	color: #333333;
}

.bodyLinks:hover {
	text-decoration: none;
	color: #333;
	font-family: 'Kaushan Script', cursive;
}

footer>.row{
	background-color: #222;
	padding-top: 5px;
}

footer {
	position: absolute;
	bottom: 0px;
	/*background-color: #222222;*/
	color: #fff;
	height: 40px;
	width: 100%;
	padding: 10px;
}