body {
	background-image: url(../img/concrete_seamless.png);
	margin-bottom: 80px;
}

html {
	min-height: 100%;
	position: relative;
}

nav {
	/*background-color: rgba(0, 0, 0, 0.7)!important;*/
	opacity: 0.7;
}

nav:hover {
	opacity: 0.8;
}

#current {
	font-weight: bold;
	font-size: 22px;
	font-family: 'Kaushan Script', cursive;
}

.bodyLinks {
	text text-decoration: none;
	color: #337ab7;
	font-family: 'Kaushan Script', cursive;
}

.bodyLinks:hover {
	text-decoration: none;
	color: #333;
}

footer>.container{
	background-color: #222;
	padding-top: 5px;
}


.carousel-inner > .item > img {
  display: block;
  width: 100%;
  height: 100%;
}

/*.active img {
	display: block;
	margin: auto;
}*/

/*.carousel img {
	background-position: center;
} */

footer {
	position: absolute;
	bottom: 0px;
	/*background-color: #222222;*/
	color: #fff;
	height: 40px;
	width: 100%;
	padding: 10px;
}