body {
	background-image: url(../img/concrete_seamless.png);
	margin-bottom: 80px;
}

html {
	min-height: 100%;
	position: relative;
}

#current {
	font-weight: bold;
	font-size: 22px;
	font-family: 'Kaushan Script', cursive;
}

.img-circle {
	margin-left: 100px;
}

.extraMargin {
	margin-left: 80px;
}

.bodyLinks, .fa {
	text text-decoration: none;
	color: #333333;
}

.bodyLinks:hover {
	text-decoration: none;
	color: #3275a1;
	font-family: 'Kaushan Script', cursive;
}

.fa:hover {
	color: #3275a1;
}

.fa {
	position: absolute;
}

#cap {
	top: 40px;
	left: 40px;
}

#code {
	top: 32px;
	left: 48px;
}

#clock {
	top: 34px;
	left: 54px;
}

footer>.container{
	background-color: #222;
	padding-top: 5px;
}

footer {
	position: absolute;
	bottom: 0px;
	/*background-color: #222222;*/
	color: #fff;
	height: 40px;
	width: 100%;
	padding: 10px;
}