body{
	margin-bottom:80px;
}
html
{
	min-height: 100%;
	position:relative;
}
#current {
	font-weight: bold;
	font-size: 22px;
}
.marketing
{
	margin-bottom:-40px;
}


.fa {
	position: absolute;
	color: #333333
}

#cap {
	top: 40px;
	left: 40px;
}

#code {
	top: 32px;
	left: 48px;
}

#clock {
	top: 34px;
	left: 54px;
}

/*#body_links {
	margin-left: auto;
}*/

footer {
	position:absolute;
	bottom:0px;
	width:100%;
	height: 40px;
	padding: 10px;
}
footer .container
{
	background-color:#eee;
}