#current {
	font-weight: bold;
	font-size: 22px;
}

#headshot {
	height: 180px;
	width: 180px;
	border-radius: 150px;
	/*position: relative;
	top: 25px;
	margin-right: 25px;
	float: left;*/
}

.container {
	position: relative;
}

#profile_box {
	position: relative;
	left: 50px;
	border: 2px solid #333333;
	width: 220px;
	border-radius: 10px;
	background-color: #333333;
	color: #9d9d9d;
}

#profile_box img {
	margin: 10px 20px 0px 20px;
}

#profile_box h2 {
	margin-left: 10px;
	margin-bottom: 25px; 
}

#profile_box button {
	text-decoration: none;
	margin-left: 5px;
	width: 205px;
	margin-bottom: 5px;
}

#profile_box a {
	color: #333333;
}

#profile_box a:hover {
	text-decoration: none;
	color: #337ac2;
}

#main_h1 {
	position: relative;
	margin-left: 7px;
	padding-bottom: 5px;
	color: #ffffef;
}

#h1_row {
	background-color: #777777;
	border-radius: 10px;
}

.row_padding {
	padding-top: 25px;
}

.border {
	border: 1px solid #777777;
	border-radius: 10px;
}

li {
	list-style: square;
}

h4 {
	font-weight: bold;
}

footer {
	clear: both;
	background-color: #eee;
	height: 40px;
	padding: 10px;
}
