#current {
	font-weight: bold;
	font-size: 22px;
}

.bodyLinks, .fa {
	text text-decoration: none;
	color: #333333;
}

.bodyLinks:hover {
	text-decoration: none;
	color: #3275a1;
}

.fa:hover {
	text-decoration: none;
	color: #3275a1;
}

.fa {
	position: absolute;
}

#cap {
	top: 40px;
	left: 40px;
}

#code {
	top: 32px;
	left: 48px;
}

#clock {
	top: 34px;
	left: 54px;
}

body {
	background-image: url(../img/concrete_seamless.png);
}

footer {
	clear: both;
	background-color: #222222;
	color: #fff;
	height: 40px;
	padding: 10px;
}